p{
    border: 5px black;
    background-color: aqua;
    font-weight: bold ;
    color:black;
    font-size: "80px";
    text-align: center;
    padding: 25px;
    margin:350px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}